#titulo{
    text-align:center;
    font-size: 40px;
}
.tudo{
    margin: 30px;
    }
    
.forma{
    background-color: beige;
    margin: 10px;
    font-style: normal;
}
.botao{ 
    align: center;
    width: 40%;
    padding: 13px 0px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
    
    
